.cta-button {
  display: inline-block;
  padding: 0.75rem 1.5rem 0.75rem;
  margin-bottom: .2rem;
  font-family: $font-sans;
  font-size: 1.4rem;
  background: $color-link;
  color: white;
  text-decoration: none;
  border: none;
  border-bottom: 4px solid brown;
  outline: none;
  -webkit-appearance: none;
  @include border-radius(5px);

  &:hover {
    color: white;
  }
}

.cta-button--facebook {
  background: #435f9c;
  border-bottom: 4px solid rgba(0,0,0,0.4);
}

