---
---

// Reset & Mixins ———————————————————————————— •
@charset "UTF-8";

@import
  'globals/mixins',
  'globals/buttons',
  'globals/reset';


// Base Styles ——————————————————————————————— •
html {
  background: url(../../assets/images/home/wall-bg.jpg) no-repeat center center fixed #333;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body {
  @include border-box;
  @include font-smoothing(antialiased);
  color: $color-text;
  font-family: $font-sans;
  font-size: 1.4rem;
  line-height: 1.4;
  position: relative;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-bottom: 4rem;
  text-align: center;
}

a {
  color: $color-link;
  &:hover { color: $color-link-hover; }
  &:active { color: $color-text; }
}

main {
  @include border-box;
  @include clearfix;
  display: block;
  position: relative;
  max-width: 860px;
  background: white;
  color: #333;
  padding: 3rem 4rem 4rem;
  margin: -7rem auto 0;
  border-radius: 0 0 1em 1em;
  text-align: left;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.header {
  padding: 2rem 4rem 6rem;
  margin-bottom: 1.5rem;
  background: rgba(0,0,0,0.7);
}

.logo {
  max-width: 450px;

  img { width: 100%; }
}

nav {
  position: absolute;
  top: 5rem;
  right: 4em;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:first-child {
      margin-left: 0 !important;
    }
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1.25rem;
    border: 2px solid transparent;
    border-radius: 10rem;
    @include transition(ease-in-out border-color 0.25s);

    &:hover {
      color: white;
      border: 2px solid white;
    }
  }

  li.active a {
    border: 2px solid white;
    border-radius: 10rem;
  }
}

h1 {
  font: 1.9rem/1.2 $font-sans;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

h2 {
  font: 1.4rem/1.2 $font-sans;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

hr {
  border-top: 4px double #ccc;
  height: 0;
  margin: 3rem -1rem 3rem;
  clear: left;
}

p {
  margin-bottom: 1.6rem;
}

ul, ol {
  padding-left: 1.6rem;
  margin-bottom: 1.6rem;
}

.site-footer {
  position: relative;
  display: inline-block;
  max-width: 350px;
  padding: 1.5rem 2rem;
  margin: 0 auto;
  text-align: center;
  background: rgba(0,0,0,.8);
  border-radius: 0 0 1rem 1rem;
}

.copyright {
  font-size: 1rem;
  margin-top: .3rem;
  color: black;
}

// UTLITY CLASSES
.cta {
  text-align: center;
  margin: 2rem 0;
}

.centered {
  text-align: center;
}

.loadable:not(.loading) .busy {
  display: none;
}

.busy {
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.page-image {
  margin-bottom: 2rem;
  text-align: center;

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.page-image__caption {
  font-size: 1.1rem;
}

// SHOP PAGE
.shop {
  min-height: 30rem;
}

.shop-items {
  display: block;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  -webkit-justify-content: center;
  justify-content: center;
}

.shop-items figure:nth-child(5) {
  display: none;
}

.shop-items figure {
  display: inline-block;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin: 5px;
  background: white;
  width: 30%;
  text-align: center;
  border: 1px solid #eee;
  max-height: 400px;
}

.shop-items figure:hover {
  figcaption {
    color: black;
  }
}

.shop-items figure span {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}

.shop-items a {
  text-decoration: none;
}

.shop-items figure img {
  width: 100%;
}

.shop-items figcaption {
  display: block;
  color: #666;
  font-size: .9rem;
  line-height: 1.1rem;
  padding: 0.2rem 1rem 0.5rem;
  transition: color 0.2s ease-in-out;
}

.shop-items.home .price {
  display: none;
}


// CONTACT PAGE
.contact {
  label {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.5px;
  }

  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-sans;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 3px solid #ccc;
    border-radius: .3rem;
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    outline: none;
    resize: none;
  }
}


// EVENTS
.calendar-events {
  display: none;
}

.calendar-events--home {
  font-size: 1.2rem;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.event {
  line-height: 1.3;

  &:last-child { margin-bottom: 0; }
}

.event__dates,
.event__times {
  display: block;
}

.event__description {
  display: block;
  font-size: 1.1rem;
  line-height: 1.3;
  margin-top: .2rem;
}



// Base Styles: Small Desktop —————————————————————— •
@include responsive-break-point(1320px) {
  .header {
    text-align: center;
  }

  .logo {
    margin: 0 auto;
  }

  nav {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

@include responsive-break-point(960px) {
  .content { max-width: 860px; }
}

@include responsive-break-point(880px) {
  html {
    font-size: 0.85rem;
  }

  body {
    background-position: 0 -200px;
  }

  main {
    margin-top: 0;
  }

  .header {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .logo {
    max-width: 350px;
  }

  nav li span {
    display: none;
  }
}

@include responsive-break-point(640px) {
  html {
    font-size: 0.75rem;
  }

  .header {
    padding: 1rem 2rem 0.2rem;
  }

  .logo {
    max-width: 70%;
  }

  nav {
    margin: 1rem -1rem 0rem;
  }

  main {
    padding: 2rem 1.5rem;
  }
}

@include responsive-break-point(480px) {
  .header {
    background-color: rgba(0,0,0,0.8);
  }

  nav {
    margin: .2rem -1rem .5rem;
  }

  nav ul {
    margin-bottom: 0;
  }

  nav li {
    font-size: 1.3rem;
    margin: 0 -.15rem;

    a {
      padding: 0.05rem .7rem .2rem;
      border: 1.5px solid transparent;
    }

    a:hover, &.active a {
      @include transition(none);
      border-width: 1.5px;
    }
  }

  hr {
    margin: 2rem 0;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  main {
    margin-bottom: 0;
  }

  .shop-items figure:nth-child(4) {
    display: -webkit-flex;
    display: flex;
  }

  .shop-items figure {
    width: 45%;
  }
}

// iOS Font Sizing —————————————————————— •
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}
