---
---

// Reset & Mixins ———————————————————————————— •
@charset "UTF-8";

@import
  'globals/mixins',
  'globals/buttons',
  'globals/reset';


// Base Styles ——————————————————————————————— •
html {
  background: url(../../assets/images/home/wall-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

body {
  @include border-box;
  @include font-smoothing(antialiased);
  color: $color-text;
  font-family: $font-sans;
  font-size: 1.4rem;
  line-height: 1.4;
  position: relative;
  font-weight: 400;
  letter-spacing: -0.5px;
}

a {
  color: $color-link;
  &:hover { color: $color-link-hover; }
  &:active { color: $color-text; }
}

main {
  @include border-box;
  @include clearfix;
  position: relative;
  max-width: 860px;
  background: white;
  color: #333;
  padding: 3rem 4rem 4rem;
  margin: -7rem auto 5rem;
}

.header {
  padding: 2rem 4rem 6rem;
  margin-bottom: 1.5rem;
  background: rgba(0,0,0,0.7);
}

.logo {
  max-width: 450px;

  img { width: 100%; }
}

nav {
  position: absolute;
  top: 5rem;
  right: 4em;

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    vertical-align: top;
    position: relative;

    &:first-child {
      margin-left: 0 !important;
    }
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0.7rem 1.25rem;
    border: 2px solid transparent;
    @include transition(ease-in-out border-color 0.25s);

    &:hover {
      color: white;
      border: 2px solid white;
    }
  }

  li.active a {
    border: 2px solid white;
  }
}

h1 {
  font: 1.9rem/1.2 $font-sans;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: bold;
}

h2 {
  font: 1.4rem/1.2 $font-sans;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

hr {
  border-top: 4px double #333;
  height: 0;
  margin: 1rem -1rem 3rem;
  clear: left;
}

p {
  margin-bottom: 1.6rem;
}

ul, ol {
  padding-left: 1.6rem;
  margin-bottom: 1.6rem;
}

.cta {
  text-align: center;
  margin: 2rem 0;
}

.shop {
  min-height: 30rem;
}

.shop-items {
  margin: 0 auto;
  text-align: center;
}

.shop-items:not(.loading) .busy {
  display: none;
}

.shop-items .busy {
  font-weight: bold;
  margin-top: 2rem;
}

.shop-items a:nth-child(4) {
  display: none;
}

.shop-items figure {
  width: 13rem;
  min-height: 18rem;
  display: inline-block;
  vertical-align: top;
  margin: 0.75rem;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  text-align: center;
  transition: box-shadow 0.2s ease-in-out;
}

.shop-items figure:hover {
  box-shadow: 0 1px 5px rgba(0,0,0,0.2);

  figcaption {
    color: black;
  }
}

.shop-items figure span {
  display: block;
  width: 13rem;
  height: 15rem;
  overflow: hidden;
  text-align: center;
  position: relative;
  margin-bottom: 5px;
}

.shop-items figure img {
  position: absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  max-width: 16rem;
}

.shop-items figcaption {
  color: #666;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 0.2rem 1rem 0.5rem;
  transition: color 0.2s ease-in-out;
}

.shop-items.home .price {
  display: none;
}

.contact {
  label {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4;
    letter-spacing: -0.5px;
  }

  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: $font-sans;
    font-size: 1.4rem;
    line-height: 1.4;
    border: 3px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    outline: none;
    resize: none;
  }
}

// Base Styles: Small Desktop —————————————————————— •
@include responsive-break-point(1320px) {
  .header {
    text-align: center;
  }

  .logo {
    margin: 0 auto;
  }

  nav {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

@include responsive-break-point(960px) {
  .content { max-width: 860px; }
}

@include responsive-break-point(880px) {
  html {
    font-size: 0.85rem;
  }

  body {
    background-position: 0 -200px;
  }

  main {
    margin-top: 0;
  }

  .header {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }

  .logo {
    max-width: 350px;
  }

  nav ul {
    margin-bottom: 0;
  }

  nav li span {
    display: none;
  }

  .shop-items figure {
    width: 30%;
    margin: 0.4rem;
  }

  .shop-items figure span {
    display: block;
    width: 100%;
  }

  .shop-items figure img {
    max-width: 16rem;
    min-height: 12rem;
  }
}

@include responsive-break-point(640px) {
  html {
    font-size: 0.75rem;
  }

  .header {
    padding: 1rem 2rem 0.75rem;
  }

  .logo {
    max-width: 65%;
  }

  nav {
    margin: 1rem -1rem 1rem;
  }

  main {
    padding: 2rem 1.5rem;
  }
}

@include responsive-break-point(480px) {
  .header {
    background-color: rgba(0,0,0,0.8);
  }

  nav {
    margin: 0 -1rem 0.1rem;
  }

  nav li {
    font-size: 1.3rem;

    a {
      padding: 0.4rem;

      &:hover { border-color: transparent; }
    }

    &.active a {
      border-color: transparent;
      border-bottom-color: white;
    }
  }

  hr {
    margin: 2rem 0;
  }

  h1 {
    font-size: 1.6rem;
    letter-spacing: -1px;
  }

  main {
    margin-bottom: 0;
  }

  .shop-items a:nth-child(4) {
    display: inline;
  }

  .shop-items figure {
    width: 45%;
    margin: 0.4rem;
    min-height: 15rem;
  }

  .shop-items figure span {
    display: block;
    width: 100%;
    height: 12rem;
  }
}

// Fix: iOS Font Sizing —————————————————————— •
@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}
