<div style="text-align: center">
<footer style="display: inline-block; min-width: 300px; padding: 2rem 3rem 3rem; margin: 0 auto 5rem; text-align: center; background: rgba(0,0,0,0.8); border-radius: 0 0 1rem 1rem">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=418543894904906";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="https://facebook.com/prairiefireglass" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-colorscheme="dark"></div>
</footer>
</div>
