  {% include home/head.html %}

  <body>
    <header class="header">
      <figure class="logo">
        <img src="assets/images/logo.png">
      </figure>
      <nav>
        <ul>
          <li>Shop</li>
          <li>Visit</li>
          <li>Classes<span> &amp; Demos</span></li>
          <li>Events</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>

    <main class="home" role="main">
      {{ content }}
    </main>

    {% include components/analytics.html %}
  </body>
</html>
