{% assign active = page.url | downcase | split: '/' %}

<header class="header">
  <figure class="logo">
    <a href="/"><img src="/assets/images/logo.png"></a>
  </figure>
  <nav>
    <ul>
      <li {% if active[1] == 'shop'    %}class='active'{% endif %}><a href="/shop/">Shop</a></li>
      <li {% if active[1] == 'visit'   %}class='active'{% endif %}><a href="/visit/">Visit</a></li>
      <li {% if active[1] == 'classes' %}class='active'{% endif %}><a href="/classes/">Classes<span> &amp; Events</span></a></li>
      <li {% if active[1] == 'about'   %}class='active'{% endif %}><a href="/about/">About</a></li>
      <li {% if active[1] == 'contact' %}class='active'{% endif %}><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
